<launch>
  <arg name="map_file" default="$(find uno_wall_navigation)/maps/mi_mapa_uno.yaml" />
  <arg name="waypoints_file" default="$(find uno_wall_navigation)/config/card_waypoints.yaml" />
  <arg name="enable_setup_helper" default="false" />

  <include file="$(find uno_wall_navigation)/launch/uno_navigation.launch">
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <include file="$(find uno_wall_navigation)/launch/wall_follower.launch" />

  <node
    pkg="uno_wall_navigation"
    type="mission_controller.py"
    name="uno_mission_controller"
    output="screen">
    <rosparam file="$(arg waypoints_file)" command="load" />
  </node>

  <node
    if="$(arg enable_setup_helper)"
    pkg="uno_wall_navigation"
    type="waypoint_setup_helper.py"
    name="waypoint_setup_helper"
    output="screen" />
</launch>
